<html>
	<title>Login page</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/style.css">
	<body>
		<section class="container">
		<div class="login">
		<h1>Login</h1>
		<form method="post" action="toMyPage">
			<p><input type="text" name="username" value="" placeholder="Username or Email"></p>
			<p><input type="password" name="password" value="" placeholder="Password"></p>
			<p class="submit"><input type="submit" name="commit" value="Login"></p>
		</form>
		</div>
		</section>
		
	</body>
<html>