<html>
	<title>Home Page</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/home.css" />
	<body>
		<div id="banner">
		</div>
		<div id="content">
			<p>Hello world</p>
		</div>
	</body>
</html>